name: Scrape

on:
  push:
    branches:
      - master
    tags-ignore:
      - '**'
    paths:
      - 'scripts/**.py'
      - '.github/workflows/scrape.yaml'
  schedule:
    - cron: '0 8 * * *' # every morning
  workflow_dispatch:

jobs:
  scrape-retail:
    runs-on: ubuntu-latest
    steps:
      - name: Clone
        uses: actions/checkout@v5

      - name: Scrape
        uses: p3lim/dbc-helper@master
        id: scraper
        with:
          # beta: true
          ptr: true
          files: |
            scripts/openable.py: data/Standard/openable.lua
            scripts/keys.py: data/Standard/keys.lua
            scripts/nondisenchantable.py: data/Standard/nondisenchantable.lua
            scripts/prospectable.py: data/Standard/prospectable.lua
            scripts/millable.py: data/Standard/millable.lua
            scripts/disenchantable.py: data/Standard/disenchantable.lua
            scripts/scrappable.py: data/Standard/scrappable.lua
            scripts/crushable.py: data/Standard/crushable.lua
            scripts/shatterable.py: data/Standard/shatterable.lua
            scripts/transmutable.py: data/Standard/transmutable.lua

      - name: Create pull request
        uses: peter-evans/create-pull-request@v7
        # requires permissions, see https://github.com/peter-evans/create-pull-request#workflow-permissions
        with:
          title: Update ${{ steps.scraper.outputs.flavor }} data to ${{ steps.scraper.outputs.version }}
          commit-message: Update ${{ steps.scraper.outputs.flavor }} data to ${{ steps.scraper.outputs.version }}
          body: ''
          branch: update-data-${{ steps.scraper.outputs.flavor }}
          delete-branch: true

  scrape-classic:
    runs-on: ubuntu-latest
    steps:
      - name: Clone
        uses: actions/checkout@v5

      - name: Scrape
        uses: p3lim/dbc-helper@master
        id: scraper
        with:
          flavor: classic
          # beta: true
          ptr: true
          files: |
            scripts/openable.py: data/Mists/openable.lua
            scripts/keys_classic.py: data/Mists/keys.lua
            scripts/nondisenchantable.py: data/Mists/nondisenchantable.lua
            scripts/prospectable_classic.py: data/Mists/prospectable.lua
            scripts/millable_classic.py: data/Mists/millable.lua

      - name: Create pull request
        uses: peter-evans/create-pull-request@v7
        # requires permissions, see https://github.com/peter-evans/create-pull-request#workflow-permissions
        with:
          title: Update ${{ steps.scraper.outputs.flavor }} data to ${{ steps.scraper.outputs.version }}
          commit-message: Update ${{ steps.scraper.outputs.flavor }} data to ${{ steps.scraper.outputs.version }}
          body: ''
          branch: update-data-${{ steps.scraper.outputs.flavor }}
          delete-branch: true

  scrape-era:
    runs-on: ubuntu-latest
    steps:
      - name: Clone
        uses: actions/checkout@v5

      - name: Scrape
        uses: p3lim/dbc-helper@master
        id: scraper
        with:
          flavor: classic_era
          # beta: true
          ptr: true
          files: |
            scripts/openable.py: data/Vanilla/openable.lua
            scripts/keys_classic_era.py: data/Vanilla/keys.lua
            scripts/nondisenchantable.py: data/Vanilla/nondisenchantable.lua

      - name: Create pull request
        uses: peter-evans/create-pull-request@v7
        # requires permissions, see https://github.com/peter-evans/create-pull-request#workflow-permissions
        with:
          title: Update ${{ steps.scraper.outputs.flavor }} data to ${{ steps.scraper.outputs.version }}
          commit-message: Update ${{ steps.scraper.outputs.flavor }} data to ${{ steps.scraper.outputs.version }}
          body: ''
          branch: update-data-${{ steps.scraper.outputs.flavor }}
          delete-branch: true
