name: Update TOC Interface version(s)

on:
  workflow_dispatch:
  schedule:
    - cron: 0 12 * * *

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Clone project
        uses: actions/checkout@v6

      - name: Update TOC Interface version
        uses: p3lim/toc-interface-updater@master
        with:
          # beta: true
          ptr: true
          flavor: |
            retail
            mists
            wrath
            tbc
            vanilla

      - name: Create pull request
        uses: peter-evans/create-pull-request@v8
        with:
          title: Update Interface version
          body:
          commit-message: Update Interface version
          branch: interface-version
          delete-branch: true
